* text=auto eol=lf

*.v   text eol=lf linguist-language=V
*.md  text eol=lf
*.yml text eol=lf

*.sh   linguist-detectable=false
*.bash linguist-detectable=false
*.zsh  linguist-detectable=false
*.fish linguist-detectable=false

.github/** text eol=lf
